# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Build and distribution directories
dist/
build/
out/
.expo/
.next/
.nuxt/
.docusaurus/
.serverless/
.fusebox/
.dynamodb/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.staging
.env.production
.env.local.example
*.env.local

# Expo / React Native local files
.expo-shared/
.expo/
web-build/
package-lock.json
yarn-error.log
pnpm-debug.log*
npm-debug.log*
yarn-debug.log*

# Serverless Webpack directories
.webpack/

# Log files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS metadata
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
